<div class="container-fluid" *ngIf="sharedService.getUserType()=='SAD'">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <div>
        <h5 class="m-0 font-weight-bold text-primary">Users</h5>
      </div>
      <div>
        <a class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#createUserModal" >
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">Add User</span>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Users</th>
              <th>Email</th>
              <th>Registration</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Users</th>
              <th>Email</th>
              <th>Registration</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let user of users">
              <td>
                <img *ngIf="user.file" [src]="'http://localhost:3000/uploads/' + user.file" alt="User Image"
                  (error)="handleImageError($event, user)" class="cropped-image" />
                <img *ngIf="!user.file" [src]="defaultImageSrc" alt="Default Image" class="cropped-image" />
                {{ user.name }} {{ user.lastname }}
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.userId }}</td>
              <td>
                <!-- Add space between the buttons -->
                <span class="mr-2">
                  <a [routerLink]="['./user-details', user.userId]" class="btn btn-info btn-circle btn-sm">
                        <i class="fas fa-info-circle"></i>
                </a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Create User</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-create-user></app-create-user>
      </div>
    </div>
  </div>
</div>
