<app-navbar></app-navbar>

<div class="d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Company Details</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6
                    class="mb-0 text-gray-900"><strong>Registration</strong></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{ company.companySheetId }}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 text-gray-900"> <strong>Company
                      Name</strong></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{ company.companyName }}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6
                    class="mb-0 text-gray-900 text-gray-900"><strong>Email</strong></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{ company.email }}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 text-gray-900"><strong>Phone Number</strong></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{ company.phone }}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 text-gray-900"><strong>Address</strong></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{ company.address }}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 text-gray-900"><strong>Number Of
                      Employees</strong></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{ company.numberOfEmployees }}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 text-gray-900"><strong>Legal
                      Representative</strong></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{ company.legalRepresentative }}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 text-gray-900"><strong>Activity Area</strong></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{ company.activityArea }}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-12">
                  <a class="btn btn-primary mr-2" data-toggle="modal"
                    data-target="#editUserModal">Edit Information</a>
                  <a class="btn btn-danger btn-icon-split" data-toggle="modal"
                    data-target="#deleteModal">
                    <span class="icon text">
                      <i class="fas fa-trash"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header card-header py-3">
          <h5 class="m-0 font-weight-bold text-primary">Edit Company</h5>
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-update-company></app-update-company>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Delete Confirmation</h6>
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-delete-company></app-delete-company>
        </div>
      </div>
    </div>
  </div>
